a {
  // background-color: green;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
[type="submit"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  background-color: $main-color;
  color: white;
  border: none;
  padding: 5px 10px 5px 10px;
}

button:hover,
[type="submit"]:hover {
  cursor: pointer;
}

.btn-danger {
  background-color: red;
}

.btn-edit {
  background-color: $second-color;
}

.btn-green {
  background-color: green;
}

.a-btn {
  @extend button;
  text-decoration: inherit;
  margin-right: 5px;
}
