.request-box {
  @extend .main-page-box;
  div{
    flex-grow: 1;
  }
}

.song-requests {
  ul {
    display: flex;
    flex-direction: column;
    li {
      @include boxify($main-color-light);
      @include box-flex();
      div{
        flex-grow: 1;
      }
      div.song-info {
        font-weight: bold;
        width: 180px;
      }
      div.user-info {
        width:180px;
      }
      form{
        margin:0;
        padding: 0;
        button{
          width:80px;
        }
        width:80px;
      }
    }
  }
}

.song-requests-played {
  ul {
    li {
      background-color: $second-color-light;
    }
  }
}

#user-requests {
  width: 500px;
}

#request-divider {
  @extend .side-by-side;
  justify-content: space-between;
  align-items: center;
  #played {
    text-align: right;
    font-weight: bold;
  }
}