.request-box {
  @extend .main-page-box;
}

.song-requests {
  ul {
    display: flex;
    flex-direction: column;
    li {
      @include boxify($main-color-light);
      @include box-flex();
      div.song-info {
        font-weight: bold;
      }
    }
  }
}

.song-requests-played {
  ul {
    li {
      background-color: $second-color-light;
    }
  }
}
