$main-color: #023e7d;
$main-color-2: #0353a4;
$main-color-light: #bcddff;
$second-color: #5c677d;
$second-color-2: #7d8597;
$second-color-dark: #33415c;
$second-color-light: #c2c4c7;

$font-family-title: "Indie Flower", cursive;
$font-family-main: "Mukta", sans-serif;

@mixin boxify($color) {
  display: block;
  background-color: $color;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@mixin box-flex() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: $font-family-main;
  .container {
    padding: 0px 10px 0px 10px;
    margin: 0;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-bar {
  background-color: $main-color;
  h1 {
    color: white;
    font-family: $font-family-title;
    display: block;
    padding: 10px;
    text-align: center;
  }
}

.main-nav {
  ul {
    display: flex;
    justify-content: center;

    li {
      a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
        background-color: $second-color;
        width: 100px;
        padding: 5px 10px 5px 10px;
        margin: 0 5px 0 0;
        text-align: center;
      }

      a:hover {
        background-color: $second-color-2;
        text-decoration: none;
        cursor: pointer;
      }
      a.selected {
        background-color: $main-color;
      }
    }
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  color: $main-color;
}

h3 {
  @extend h2;
  text-align: left;
}

.main-page-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    flex-grow: 1;
    margin-right: 20px;
  }
}

.left-align {
  text-align: left;
}

.side-by-side {
  display:flex;
  flex-direction: row;
}


@import "requests";
@import "buttons";
@import "users";
@import "forms";
@import "songs";
@import "ui";
