{% extends 'user_interface/base_ui.html' %} 
{% block content %}
<nav id="ui-main-nav">
  <ul>
    <li>
      <a href="/user-interface/{{id}}/songs" class="a-btn btn-green"
        >Request a song</a
      >
    </li>
    <li>
      <a href="/user-interface/{{id}}/requests" class="a-btn"
        >View all requests</a
      >
    </li>
    <li>
      <a href="/user-interface/{{id}}/my-requests" class="a-btn">My Requests</a>
    </li>
  </ul>
</nav>
<a href="/requests">Back to DJ view</a>
{% endblock content %}
