<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
<h2>Songs</h2>
<!-- prettier-ignore -->
{% for song in songs %}
<form action="/song" method="post">
  {% if edit == None %} {{song.display_info()}} {% else %}
  <input type="text" id="title" name="title" />
  by
  <select name="artist_id" id="artist">
    {% for artist in artists %}
    <option value="{{ artist.d }}">{{ artist.name }}</option>
    {% endfor %}
  </select>
  {% endif %}

  <button type="submit" formaction="/song/{{song.id}}/edit">edit</button>
  <button type="submit" formaction="/song/{{song.id}}/delete">delete</button>
</form>
{% endfor %} {% endblock %}
