{% extends 'base.html' %} 
{% block content %}
<h2>Songs</h2>
{% for song in songs %}
  {% if edit == song.id %}
  {# EDIT #}
    <form action="/songs/{{edit}}" method="post">
      <input type="text" id="title_edit" name="title" value="{{song.title}}"/>
      by
      <select name="artist_id" id="artist_edit">
      {% for artist in artists %}
        {% if song.artist.id == artist.id %}
          <option value="{{ artist.id }}" selected>{{ artist.name }}</option>
        {% else %}>
          <option value="{{ artist.id }}" >{{ artist.name }}</option>  
        {% endif %}
      {% endfor %}
      </select>
      <button type="submit">Save</button>
    </form>
  {% else %} 
  {# SHOW #}
  <form action="/songs" method="post">
    {{song.display_info()}}
    <a type="submit" href="/songs/{{song.id}}/edit">edit</a>
    <button type="submit" formaction="/songs/{{song.id}}/delete">delete</button>
  {% endif %}
  </form>
{% endfor %} 
{# New Song #}
  <h3>+ New Song:</h3>
  <form action="/songs" method="post">
    <label for="title_new">Song Title:</label>
    <input type="text" id="title_new" name="title" />
    <label for="artist_new">Artist:</label>
    <select name="artist_id" id="artist_new">
    {% for artist in artists %}
        <option value="{{ artist.id }}" >{{ artist.name }}</option>  
    {% endfor %}
    </select>
    <button type="submit">Save</button>
  </form>
{% endblock %}
