{% extends 'main_nav.html' %} 
{% block nav_content %}
<h2>Requests</h2>
<hr />
<div class="request-box">
  <div>
    <div id="request-divider">
      <div><h3>All Requests</h3></div>
      <div id="played">Play Song?</div>
    </div>
    <div class="song-requests">
      <ul>
        {% for song_request in requests %} 
        {% if not song_request.played %}
        <li>
          <div class="song-info">{{song_request.song.display_info()}}</div>
          <div class="user-info">
            <a href="/users/{{song_request.user.id}}"
              ><span>{{song_request.user.username}}</span></a
            >
            <div>{{song_request.display_time()}}</div>
          </div>
          <form action="/requests/{{song_request.id}}/play" method="post">
            <div>
              <button type="submit">
                <span class="sr-only">mark as played</span>
                <i class="fas fa-check"></i>
              </button>
            </div>
          </form>
        </li>
        {% endif %} 
        {% endfor %}
      </ul>
    </div>
    <a href="/requests/new">+ New Request</a>
  </div>
  <div>
    <h3>Played</h3>
    <div class="song-requests song-requests-played">
      <ul>
        {% for song_request in requests %} 
        {% if song_request.played %}
        <li>
          <div class="song-info">{{song_request.song.display_info()}}</div>
          <div class="user-info">
            <a href="/users/{{song_request.user.id}}"
              >{{song_request.user.username}}</a
            >
            <div>{{song_request.display_time()}}</div>
          </div>
          <form action="/requests/{{song_request.id}}/unplay" method="post">
            <button id="unplay" type="submit"><i class="fas fa-undo"></i> Unplay</button>
          </form>
        </li>
        {% endif %} 
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
